* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    background: #312E38;
    color:#FFF;
    -webkit-font-smoothing: antialiased;
}
body, input, button {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;

}
h1, h2, h3, h4, h5, h6, strong {
    font-wight:500;
}
button {
    cursor: pointer;
}

.color-div {
    background: #312E38 !important;
    border-color: #FFF !important;
}

#submit{
    background-color: #FFF;
    color: #312E38;
}